.thickish-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.thickish-thickish {
  width: 100%;
  height: 4843px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
 
.thickish-image17237817728271 {
  top: 0px;
  left: -28px;
  width: 1601px;
  height: 919px;
  position: absolute;
}
 
.thickish-text10 {
  top: 1003px;
  left: -14px;
  color: rgba(255, 255, 255, 1);
  width: 443px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.thickish-text11 {
  top: 3590px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  width: 443px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.thickish-text12 {
  top: 4213px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  width: 646px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.thickish-rectangle4 {
  top: 1133px;
  left: 0px;
  width: 1573px;
  height: 753px;
  position: absolute;
}
 
.thickish-srishticertificate {
  top: 1342px;
  left: 927px;
  width: 619px;
  height: 423px;
  position: absolute;
}
 
.thickish-text13 {
  top: 1329px;
  left: 45px;
  color: rgba(255, 255, 255, 1);
  width: 844px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Khula;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-text14 {
  top: 1192px;
  left: -6px;
  color: rgba(255, 255, 255, 1);
  width: 821px;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.thickish-rectangle5 {
  top: 1990px;
  left: 2px;
  width: 1570px;
  height: 739px;
  position: absolute;
}
 
.thickish-inferix24 {
  top: 2208px;
  left: 36px;
  width: 620px;
  height: 416px;
  position: absolute;
}
 
.thickish-text15 {
  top: 2177px;
  left: 719px;
  color: rgba(255, 255, 255, 1);
  width: 846px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Khula;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-rectangle6 {
  top: 2816px;
  left: 2px;
  width: 1570px;
  height: 724px;
  position: absolute;
}
 
.thickish-text16 {
  top: 2865px;
  left: -24px;
  color: rgba(255, 255, 255, 1);
  width: 698px;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.thickish-firstwin {
  top: 3071px;
  left: 906px;
  width: 657px;
  height: 353px;
  position: absolute;
}
 
.thickish-text17 {
  top: 2997px;
  left: 36px;
  color: rgba(255, 255, 255, 1);
  width: 846px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: SemiBold;
  text-align: left;
  font-family: Khula;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-text18 {
  top: 3723px;
  left: 102px;
  color: rgba(255, 255, 255, 1);
  width: 910px;
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-text32 {
  top: 4365px;
  left: 103px;
  color: rgba(255, 255, 255, 1);
  width: 824px;
  height: auto;
  position: absolute;
  font-size: 38px;
  font-style: Regular;
  text-align: left;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-navlink {
  display: contents;
}
 
.thickish-rectangle7 {
  top: 4688px;
  left: 60px;
  width: 231px;
  height: 81px;
  position: absolute;
  text-decoration: none;
}
 
.thickish-text41 {
  top: 4688px;
  left: 88px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.thickish-screenshot20241225131532 {
  top: 4280px;
  left: 1173px;
  width: 295px;
  height: 290px;
  position: absolute;
}
 
.thickish-screenshot20241225131919 {
  top: 3694px;
  left: 1116px;
  width: 381px;
  height: 418px;
  position: absolute;
}
 
.thickish-text42 {
  top: 2025px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 821px;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: center;
  font-family: Freeman;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
